:root{
    --main-black: #0c0b14;
    --details-black: #211e2e;
    --cards-black: #302d42;
    --red-icons: #ff1b2d;
    --red-icons-secondary: #fa1e4e;
    --text-white: #beb6d2;
    --main-font:  "Roboto", sans-serif;
    --font-title: "Quicksand", sans-serif;
}

/* header padrão */
header{
    background-color: var(--details-black);
    display: flex;
    padding: 1rem;
}

header .box-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}



header .box-logo img{
    max-width: 3rem;
}

header .box-logo span{
    color: var(--red-icons);
    font-family: var(--font-title);
    font-size: 2rem;
    margin-left: 0.5rem;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .navbar ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .navbar ul li{

}

header .navbar ul li a{
    display: block;
    padding: 5px 25px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--red-icons-secondary);
    text-decoration: none;
    font-family: var(--main-font);
    font-size: 1.1rem;
    color: var(--text-white);
}

header .navbar ul li a:hover{
    background-color: var(--text-white);
    color: var(--details-black);
}

header .user-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .user-data .username{
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .user-data .username i{
    font-size: 20px;
    color: var(--red-icons-secondary);
}

header .user-data .username span{
    color: var(--text-white);
}

/* tela de login */
.login-container{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    background-color: var(--main-black);
}

.login-row{
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--details-black);
    color: var(--red-icons-secondary);

}

.login-row .form-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-row .form-logo img{
    max-width: 100px;
}

.login-row .form-logo span{
    font-size: 2rem;
    font-family: var(--font-title);
    font-weight: 700;
    color: var(--red-icons);
}

.login-col{
    margin-top: 1rem;
}

.login-col div{
    margin-bottom: 2rem;
}

.login-col input{
    width: 100%;
}

.login-col input[type="submit"]{
    background-color: var(--red-icons);
    border: none;
    color: var(--text-white);
    font-weight: 700;
}

.login-col input[type="submit"]:hover{
    background-color: var(--red-icons-secondary);

}







